# Node.js
node_modules/

# TypeScript
*.tsbuildinfo

# IDE files
.vscode/
.idea/

# Compiled output
dist/

# Dependency directories
.jenkins/
coverage/

# Logs
*.log
logs/

# Environment variables
.env

# Build artifacts
build/
out/

# OS-specific files
.DS_Store
Thumbs.db

# npm package files
package-lock.json
npm-debug.log

# Yarn
yarn-error.log
yarn.lock
